{% extends 'base.html' %}
{% block content %}

<section class="section">


    <table class="table is-hoverable is-fullwidth has-text-info ">
        <thead>
        <tr>
            <th>Date</th>
            <th>Artiste</th>
            <th>Title</th>
            <th>Number of Listen</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for track in page_obj %}
        <tr>
            <td>
                {{ track.date_posted }}
            </td>
            <td>
                {{ track.artiste.display_name }}
            </td>
            <td>
                {{ track.title}}
            </td>
            <td>
                {{ track.listen_count }}
            </td>
            <td>
                <div class="field is-grouped">


                    <p class="control">
                        <a href="{% url 'play_track' pk=track.pk %}" aria-label="play">
            <span class="icon is-small">
              <i class="fas fa-play" aria-hidden="true"></i>
            </span>
                        </a>
                    </p>


                    {% if user.is_admin %}
                    <p class="control">
                        <a href="{% url 'delete_track' pk=track.pk %}" aria-label="trash">
            <span class="icon is-small">
              <i class="fas fa-trash " aria-hidden="true"></i>
            </span>
                        </a>
                    </p>
                    {% endif %}
                </div>
            </td>
        </tr>

        {% endfor %}
    </table>


</section>

{% endblock %}