{% extends 'base.html' %}
{% block content %}

<section class="section">


    <table class="table is-hoverable is-fullwidth has-text-info ">
        <thead>
        <tr>
            <th>Date</th>
            <th>Artiste</th>
            <th>Title</th>
            <th>Number of Listen</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for track in page_obj %}
        <tr>
            <td>
                {{ track.date_posted }}
            </td>
            <td>
                {{ track.artiste.display_name }}
            </td>
            <td>
                {{ track.title}}
            </td>
            <td>
                {{ track.listen_count }}
            </td>
            <td>
                <div class="field is-grouped">


                    <p class="control">
                        <a href="{% url 'play_track' pk=track.pk %}" aria-label="play">
            <span class="icon is-small">
              <i class="fas fa-play" aria-hidden="true"></i>
            </span>
                        </a>
                    </p>


                    {% if user.is_admin %}
                    <p class="control">
                        <a href="{% url 'delete_track' pk=track.pk %}" aria-label="trash">
            <span class="icon is-small">
              <i class="fas fa-trash " aria-hidden="true"></i>
            </span>
                        </a>
                    </p>
                    {% endif %}
                </div>
            </td>
        </tr>

        {% endfor %}
    </table>

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <nav class="pagination" role="navigation" aria-label="pagination">
    <span class="pagination-list">
        {% if page_obj.has_previous %}
			<a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
			<a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next page</a>
        {% endif %}
    </span>
            </nav>
        </div>
    </div>


</section>

{% endblock %}