{% extends 'base.html' %}
{% block content %}

<section class="section">


    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="container is-justify-content-center">

                <form method='POST' action="{% url 'create_track' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Title" name="title">
                            <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                            <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="file" placeholder="My Song" name="song">
                            <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
                        </p>
                    </div>

                    <div class="content has-text-centered">
                        <div class="field">
                            <p class="control">
                                <button class="button is-primary" type="submit">
                                    Upload
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}